# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Editors and IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# OneDrive temp files
~$*
